.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Три рівні колонки */
  gap: 10px;
  /* Відстань між елементами */
  padding: 0;
  list-style: none;
}

.gallery-item {
  max-width: 100%;
  /* Забезпечує адаптивність елементів */
}

.gallery-link {
  display: block;
  text-decoration: none;
  /* Видаляє підкреслення з посилань */
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);

 
  .feedback-form {
    width: 360px;
    
    margin: 0 auto;
    padding: 24px;
   
    gap: 16px;
    
    border-radius: 8px;
   
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Тінь для форми */
  }

  /* Стилі для полів введення */
  .feedback-form input,
  .feedback-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 16px;
    /* Відступ між полями */
  }

  /* Стилі для кнопки */
  .feedback-form button {
    background-color: #4e75ff;
    
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }

  .feedback-form button:hover {
    background-color: #3a5ecc;
  
  }

  .feedback-form button:active {
    background-color: #2e4b99;
    
  }

 
  .feedback-form input:hover,
  .feedback-form textarea:hover {
    border-color: #4e75ff;
   
  }

  .feedback-form input:focus,
  .feedback-form textarea:focus {
    outline: none;
    border-color: #4e75ff;
    box-shadow: 0px 0px 5px rgba(78, 117, 255, 0.5);
  }
  
}

/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
